[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "~=7.3"
mypy = "~=1.9"
yapf = "~=0.40"
twine = "*"
matplotlib = "*"
pandas = "*"
torf-cli = {file = "https://github.com/rndusr/torf-cli/archive/refs/heads/master.zip"}
faker = "*"
pydocstyle = "*"
pylint = "*"
pyright = "~=1.1.339"
build = "*"

[packages]
"bencode.py" = "~=4.0"
