[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "~=3.1"
mypy = "~=1.5"
yapf = "~=0.40"
twine = "*"
matplotlib = "*"
pandas = "*"
torf-cli = {file = "https://github.com/rndusr/torf-cli/archive/refs/heads/master.zip"}
faker = "*"
pydocstyle = "*"
pylint = "*"
pyright = "1.1.330.post0"

[packages]
"bencode.py" = "~=4.0"
